body {
  background:#0b0b0b;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

.panel {
  display:flex;
  justify-content:center;
  gap:20px;
  margin:20px;
}

button {
  padding:12px 20px;
  font-size:16px;
  cursor:pointer;
}

iframe {
  width:900px;
  height:500px;
  border:2px solid #444;
  margin-top:20px;
}
